body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.name{ 
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, tomato); 
    padding: 20px 40px;
    border-radius: 45px; 
    
} 
.line{
    margin-bottom: 50px;
}
.flex{
    display: flex; 
    margin-left: 50px;
    background-image: url(7.png); 
    background-repeat: no-repeat; 
    margin-bottom: 80px;
}
.width{
    width: 50%; 
   margin-top: 80px;
   margin-right: 50px;
}
.image img{
    width: 80%;
}
.second-image img{
    width: 40%;
    margin-left: 50px;
}
h2{
    font-size: 40px;
    color: grey;
}