body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.name{ 
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, tomato); 
    padding: 20px 40px;
    border-radius: 45px; 
    
} 
b{
    color: white;
}
.line{
    margin-bottom: 50px;
}
.flex{
    display: flex; 
    margin-left: 50px;
    background-image: url(7.png); 
    background-repeat: no-repeat; 
    margin-bottom: 80px;
}
.width{
    width: 50%; 
   margin-top: 90px;
   margin-right: 50px;
}
.image img{
    width: 80%;
}
.second-image img{
    width: 40%;
    margin-left: 50px;
    margin-top: 40px;
}
h2{
    font-size: 50px;
    color: grey;
}

h3{
    font-size: 30px;
    color: grey;
    text-align: center;
}
.description{
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.second-flex{
    display: flex;
   margin-left: 60px;
   margin-top: 50px;
   margin-bottom: 50px;
  
}
.box{
    box-shadow: 10px 10px 40px gray;
    width: 500px;
    margin-left: 5%;    
    margin-right: 5%;
    padding-left: 5px ;  
    padding-right: 5px;
    border-radius: 20px;
}
#first-one{
    width: 100%;
    border-left: 15px;
    border-right: 15px;
    border-image-slice: 1;
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px ;
}
#second-one{
    width: 100%;
    border-left: 15px ;
    border-right: 15px;
    border-image-slice: 1;
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px ;
}
#third-one{
    width: 100%;
    border-left: 15px;
    border-right: 15px;
    border-image-slice: 1;
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px ;
}
.third-image{
    width: 100%;

}
h4{
    font-size: 20px;
}
footer{
    text-align: center;
background-color: black;
height: 200px;

}
.something{
    
    font-size: 30px
}


.ok{
    color:rgb(15, 148, 148);
}
.net{
    color: grey;
}